*{
    padding: 0%;
    margin: 0%;
    /* border: 1px solid black; */
    font-family: sans-serif;
   
}
:root{
    font-size: 16px;
}

body{
    background-color: rgba(42, 60, 78, 0.17);
}

.uppernav{
    display: flex;
    justify-content:center;
    /* border: 1px solid black; */
    align-items: center;
    background-color:  rgba(244, 247, 250, 1);
    /* gap: 1rem; */
    width: 100%;
    /* min-width:fit-content; */
    /* border: 2px solid rgb(222, 148, 9); */
    gap: 1rem;
}

.uppernav .logo img{
    width: 7rem;
    height: 6rem;
    object-fit: contain;
    margin-left: 2rem;
    /* border: 1px solid red; */
}


.uppernav .details{
    display: flex;
    gap: 1rem;
    /* border: 1px solid violet; */
    padding: 2rem;
    justify-content: center;
    /* width: 100%; */
    min-width: fit-content;
    align-items: center;
}
.uppernav .infos{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center; 
     /* border: 1px solid black; */
     /* display: none; */
     /* min-width:fit-content; */
     
}

.uppernav .infos .icon{
    background-color: white;
    /* border: 1px solid blue; */
    padding: .8rem;
    border-radius: 1rem;
    color:goldenrod;
   
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color:white;
    list-style-type:none;
    /* border:1px solid blue */
}

nav li{
    padding: .8rem;
    font-weight: 600;
    display: inline-block;
    /* border: 1px solid red; */
    min-width: fit-content;
    
}

nav .menus{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content:center;
    gap: 3rem;
    /* border: 1px solid green; */
    /* background-color: aqua; */
}
nav .menus a{
    margin-left: 10rem;
    /* min-width: fit-content */
}
nav .menus a button{
    background-color: rgb(239, 11, 87);
    padding: .4rem 1rem;
    border-radius: 2rem;
    color: white;
    border-color: rgb(239, 11, 87) ;
}
nav .quotes{
    /* flex: 1; */
    margin-left: auto;
    padding: 0px 8rem;
} 
.hamburger{
    display: none;
}

@media screen and (max-width:780px){
    *{
        padding: 0%;
        margin: 0%;
        /* border: 1px solid black; */
        font-family: sans-serif;
       
    }
    :root{
        font-size: 16px;
    }
    
    body{
        background-color: rgba(42, 60, 78, 0.17);
    }

   .uppernav{
    display: flex;
    justify-content: flex-start;
   }
    
    .uppernav .logo img{
        /* margin-right:9 rem; */
        width: 7rem;
        height: 6rem;
        object-fit: contain;
        /* border: 1px solid red; */
    }
    
    .uppernav .infos{
         display: none;
         
    }
    
    nav{
        display: none;
    }
    
    .hamburger{
        display: flex;
        padding: 2rem .5rem;
        background-color: black;
        color: white;
        align-items: center;
        gap: .2rem;
        /* justify-content: center; */
    }
    .hamburger a {
        margin-left: auto;
    }

    .hamburger .ham{
        width: 20px;
        height: 20px;
    }
    .hamburger a button{
        background-color: rgb(239, 11, 87);
        padding: .4rem .8rem;
        border-radius: 2rem;
        color: white;
        border-color: rgb(239, 11, 87) ;
    }

    .hamburger:hover{
        cursor: pointer;
    }

    nav{
        display: none;
    }
    nav .menus {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        align-items: center;
    
         
    }

    nav .menus li{
        text-align: right;
        /* background-color: aliceblue; */
        margin-right: auto;
    }
    nav .menus a{
        display: none;
    }

    .showmenu{
        display: block;
    }
}